.footer{
    background-color: #0c023e;    
    padding-bottom: 20px;
}


.footer-logo{
    width: 70%;
    height: 70%;
    color: inherit;
}

.footer img{
   margin-top: 7%;
}

.footer-links-group{
    margin: 20px;
    padding: 20px;
}

.footer a, .footer p{
    color: white;
    font-weight: 200;
}

.footer p{
    margin-top: -3%;
    margin-left: 30px;
}

@media screen and (max-width:800px) {
    /* form{
        width: 70%;
        margin-left: 120px;
    } */
}

@media screen and (max-width:450px) {
    .footer-objects{
        display: flex;
        flex-direction: column;
    }
    
    .footer-logo{
        margin-left: 50px;
    }

    .footer-links{
        display: flex;
        flex-direction: row;
        white-space: nowrap;
    }
    
    .one{
        margin-left: -20px;
    }

    .footer p{
        margin-left: 0;
    }

    .help{
        margin-left: 30px;
    }

}

